# node development/production environment
NODE_ENV=development  //put `development` if in development stage or `production` if in production stage 

PORT=

JWT_SECRET_KEY=
SESSION_SECRET_KEY=

FRONTEND_URL=


# mailing credentials
APP_NAME=
APP_PASSWORD=

# database connection
DB_URL=
DB_NAME=

# for image upload
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=